<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Habo-Berlin</h1>
    <p>Loyalty, toughness, consistency, WE ARE GUARDIANS.</p>
    <a href="">New Employee Sign Up</a>
    <a href="">Employee Sign In</a>

</body>
</html>