<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    
    <form action="/guardian/sign-up" method="POST">

    <section id="habo-42">
    <h1>Habo Berlin</h1>
    </section>

    <section id="habo-43">
    <p>Employee Sign up</p>
    </section>

    <section id="habo-44">
    <label type="username">Username:</label>
    <input type="text" name="username" id="username"/>
    </section>

    <section id="habo-45">
    <label type="email">Company Email: </label>
    <input type="text" name="email" id="email"/>
    </section>

    <section id="habo-46">
    <label type="password">Password: </label>
    <input type="password" name="password" id="password" />
    </section>

    <section id="habo-47">
    <label type="confirmPassword">Confirm Password: </label>
    <input type="password" name="confirmPassword" id="confirmPassword" />
    </section>

    <section id="habo-48">
    <button type="submit">Sign Up</button>
    </section>

    <section id="habo-49">
    <p><a href="/">Back to Management Panel</a></p>
    </section>
    






    </form> 
    
</body>
</html>