<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
</head>
<body>
    <section id="habo-2">
    <h1>Habo Berlin</h1>
    </section>

    <section id="habo-3">
        <p>Employee Sign in</p>
    </section>

    <section id="habo-4">
    <form action="/guardian/sign-in" method="POST">
    <label type="username">Username:</label>
    <input type="text" name="username" id="username"/>
    </section>

    <sectiond id="habo-5">
    <label type="password">Password:</label>
    <input type="password" name="password" id="password"/>
    </sectiond>

   

    <section id="habo-6">
        <button type="submit">Sign in</button>
    </section>


    </form>
    
    
</body>
</html>