<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <form action="/guardian/sign-up" method="POST">
    <h1>Habo Berlin</h1>
    <p>Employee Sign up</p>
    <label type="username">Username:</label>
    <input type="text" name="username" id="username"/>
    <label type="email">Company Email: </label>
    <input type="text" name="email" id="email"/>
    <label type="password">Password: </label>
    <input type="password" name="password" id="password" />
    <label type="confirmPassword">Confirm Password: </label>
    <input type="password" name="confirmPassword" id="confirmPassword" />
    <button type="submit">Sign Up</button>






    </form> 
    
</body>
</html>