<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <section id="habo-title">
    <h1>Habo-Berlin</h1>
    </section>

    <section id="habo-intro">
    <p>Loyalty, toughness, consistency, WE ARE GUARDIANS.</p>
    </section>

  <section id="Susi">
    <a href="/guardian/sign-in">Habo Employee Sign In</a>
</section>


<section id="Susi2">
<a href="/guardian/sign-up">New Habo Employee Sign up</a>
</section>

</body>
</html>