<!DOCTYPE html>
<html lang="en">
<head>
    <a href="/guardian">Habo-Berlin Guardian Management System</a>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <h1>Welcome To Habo-Berlin</h1>
    <p>Loyalty, toughness, consistency, WE ARE GUARDIANS. </p>
    
</body>
</html>