<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <section id="habo-7">
    <h1>Welcome To Habo-Berlin</h1>
    </section>

    <section id="habo-8">
    <p>Loyalty, toughness, consistency, WE ARE GUARDIANS. </p>
    </section>

    <section id="habo-9">
    <p><a href="management/new">New Guardian Registration</a></p>
    </section>

    <section id="habo-10">
    <p><a href="management/show">Guardians List</a></p>
    </section>
   
 

    <section id="habo-11">
    <p><a href="/guardian/sign-out">Sign Out</a></p>
    </section>

 
    
</body>
</html>