<!DOCTYPE html>
<html lang="en">
<head>
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <h1>Welcome To Habo-Berlin</h1>
    <p>Loyalty, toughness, consistency, WE ARE GUARDIANS. </p>
    <p><a href="management/new">New Guardian Registration</a></p>
    <p><a href="management/show">Guardians List</a></p>
   
   <p>AI HABO: </p>
    <p><%= aiResponse %></p>


    <p><a href="/guardian/sign-out">Sign Out</a></p>

 
    
</body>
</html>