<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register a New Guardian</title>
</head>
<body>
    <section id="habo-12">
    <h1>Register a New Guardian</h1>
    </section>

   
    <form action="/management/new" method="POST">

        <section id="habo-13">
        <label for="name">Name:</label>
        <input type="text" name="name" required>
         </section>

         <section id="habo-14">
        <label for="weapon">Weapon:</label>
        <input type="text" name="weapon" required>
        </section>

        <section id="habo-15">
        <label for="defenseSystem">Defense System:</label>
        <input type="text" name="defenseSystem" required>
        </section>

        <section id="habo-16">
        <label for="version">Version:</label>
        <input type="text" name="version" required>
        </section>

        <section id="habo-17">
        <label for="cyberSecurityVersion">Cyber Security Version:</label>
        <input type="text" name="cyberSecurityVersion" required>
        </section>

        <section id="habo-18">
        <label for="aiHaboOperated">AI-HABO Operated:</label>
        <input type="checkbox" name="aiHaboOperated">
         </section>
         <section id="habo-19">
        <button type="submit">Register Guardian</button>
        </section>


    </form>
    <section id="habo-20">
    <a href="/">Back to management Panel</a>
</section>

</body>
</html>
